# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/

# Project specific
roshini_handover.zip
results/
.env
.DS_Store
*.ipynb_checkpoints/

# Data / models (do not push large files)
data/*.bin
data/*.bz2
data/*.jsonl
models/
*.ckpt
*.safetensors
*.pt

# Colab


# macOS
.DS_Store