# Python
__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
.env
.ipynb_checkpoints/

# Data / models (do not push large files)
data/*.bin
data/*.bz2
data/*.jsonl
models/
*.ckpt
*.safetensors
*.pt

# Colab


# macOS
.DS_Store